{% extends 'DEVBlogBundle:Viewer:viewer_template.html.twig' %}

{% block viewer_body %}
    <div class="row">
    {% for post in posts %}
            <div class="col-lg-4 col-md-4 col-sm-5">
                <div class="card card-default">
                    <h3 class="card-header">
                        <a href="{{ path('post_show',{'id' : post.id}) }}">{{ post.title }}</a>
                    </h3>
                    <div class="card-block">
                        <div class="date">
                            <p class="card-text">
                                <small class="text-muted">date publication : {{ post.publishedAt.date|date("Y-m-d")}}</small><BR>
                                {% set number = 0  %}
                                {% for comment in comments %}

                                    {% if comment.postId == post.id %}
                                        {%  set number = number+1 %}
                                    {% endif %}
                                {% endfor %}
                                <small class="text-muted">comments : {{ number }} </small>
                        </div>
                        {{ post.content|slice(0,100)}}
                    </div>
                </div>
            </div>
    {% endfor %}
        <div class="row">
{% endblock %}