{% extends 'DEVBlogBundle:Admin:admin_template.html.twig' %}

{% block admin_body %}
    <div class="posts-list">
        <div class="row">
            {% for post in posts %}
            <div class="col-sm-6 col-lg-4 col-md-4">
                <div class="card card-default">
                    <div class="card-header">
                        {{ post.title }}
                    </div>
                    <div class="card-block">
                        {% if post.publishedAt != null %}
                            <i> date publication : {{ post.publishedAt.date }}</i>
                        {% else %}
                            <i> date publication : not published yet </i>
                        {% endif %}
                        {{ post.content | slice(0,100) }}
                    </div>
                    <div class="card-footer text-muted">
                        <a class="btn btn-primary" type="button" href= "{{ path('post_publish',{'id': post.id}) }}" value="{{ post.id }}"> Publish </a>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>
{% endblock %}
